#root {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

main {
  font-family: "DynaPuff", serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  margin: 0 auto;
  font-size: 3rem;
  margin: 0 0 1rem;
}